version: '3.7'

services:
  bot:
    restart: unless-stopped
    container_name: bot
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        APP_ENV: ${APP_ENV}
    working_dir: /usr/src/app
    command: sh -c "yarn install && yarn prisma:generate && yarn start:migrate:dev"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - ./.env
    ports:
      - '9230:9229'
    links:
      - bot-database
    depends_on:
      - bot-database

  bot-database:
    container_name: bot-database
    restart: unless-stopped
    image: postgres:14.1
    env_file:
      - ./.env
    ports:
      - '5432:5432'
    volumes:
      - bot-database-data:/var/lib/postgres/data

volumes:
  bot-database-data:

networks:
  default:
    name: sos
